<div class="container-form shadow">
    <div class="header">
        <h2>D-BookStore</h2>
        <label><b>Sign up</b></label>
    </div>
    <div class="body">
        <form method="POST" onsubmit="return isValidForm;" action="">
            <div>
                <div>
                    <i class="fas fa-user input-icon"></i>
                    <input class="input-field" placeholder="Username" id="username" name="username" type="text"
                        required>
                </div>
                <div>
                    <div class="warning" id="emailWarning">Email is invalid!</div>
                    <i class="fas fa-envelope input-icon"></i>
                    <input class="input-field" placeholder="Email" id="email" name="email" type="text" required>
                </div>
                <div>
                    <div class="warning" id="passwordWarning">Passwork incorrect!</div>
                    <i class="fas fa-lock input-icon"></i>
                    <input class="input-field" placeholder="Password" id="password" name="password" type="password"
                        required>
                </div>
            </div>

            <button class="submit-btn" style="font-weight:700;" onclick="handleWarning('emailWarning');hashPassword();"
                type="submit">Submit</button>
        </form>
    </div>
    <div class="footer">

    </div>
</div>