{{#if isEmptyCart}}
<div class="alert-danger alert">Giỏ hàng không có sản phẩm. Vui lòng thực hiện lại</div>
{{/if}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <div class="container-cart">
                <div class="child-container-cart">
                    <h5 class="cart-title">Giỏ hàng</h5>
                    {{#if isEmptyCart}}
                        <div class="emtyCart text-center">
                            <img src="../image/cart/emptyCart.PNG">
                        </div>
                        <button class="btn-yellow" (click)="goBack()">Tiếp tục chọn</button>
                    {{/if}}
                    {{!-- <div id="cart">
                        <div class="items-cart" *ngFor="let item of countItemsInCart;index as bookId;" id={{bookId}}>
                            <span class="book-name">{{item.name}}</span>
                            <div>
                                <span>{{item.price | currency : "VND"}}</span>
                                <span (click)="deleteClick(bookId)"><i class="far fa-trash-alt trash-icon"> Xóa</i></span>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("content").style.backgroundColor="white" ;
</script>