<div class="row">
  <div class="col-sm-3 content--category">
    <div class="card" style="width: 25rem;">
      <div class="card-header">
        Category
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">csda</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="row content--slider">
        <img src="../image/home/book-hor-1.jpg" class="image-slider" alt="slider">
        <img src="../image/home/book-hor-2.jpg" class="image-slider" alt="slider">
        <img src="../image/home/book-hor-3.jpg" class="image-slider" alt="slider">
        <img src="../image/home/book-hor-4.jpg" class="image-slider" alt="slider">

        <button class="btn btn--left btn--black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="btn btn--right btn--black" onclick="plusDivs(1)">&#10095;</button>
    </div>

  </div>
  <div class="col-sm-2">

  </div>
</div>

<div class="row">
  <div class="myTittle">
    <h3>Top 5 sản phẩm gần đây nhất</h3>
    <hr>
  </div>
</div>

{{#section 'css'}}
<style>
 
</style>
{{/section}}

{{#section 'js'}}
  <script>
</script>
{{/section}}