.info__product--main{
    padding-top: 30px;
}

.content--product{
    background-color: #fff;
}

.image__product--main{
    height: 500px;
}

.product--sub{
    margin-top: 10px;
}

.image__product--sub{
    height: 100px;
    width: 50px;
}

.product--name{
    font-size: 30px;
}

.product--value{
    padding-left: 2em;
    color: sandybrown;
    font-weight: bold;
}

.product__number{
    display: flex;
    align-items: center;
}

.quantity--box{
    margin-left: 50px;
}

.quantity__input--text{
    height: 40px;
    width: 100px;
    text-align: center;
}

.btn__qty:hover{
    color: aqua;
    transform: scale(1.1);
}

.btn__qty:active{
    color: blue;
}

.btn__addToCart{
    background-color: #4b86b4;
    color: #fff;
    font-weight: bold;
}

.btn__addToCart:hover{
    transform: scale(1.1);
}

.btn__addToCart:active{
    transform: scale(1);
    background-color: #8e9efc;
}