
html {
    font-size: 82.5%; }

body{
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: .5rem;
}

a{
    text-decoration: none !important;
    color: black;
}

a:hover{
    color: #63ace5;
}

.header{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #fdf498;
}

.header--logo{
    margin-left: 1rem;
}

.collapse{
    display: flex;
    position: relative;
}

.collapse--form{
    margin-left: 2rem;
}

.collapse--cart{
    /* width: 50rem;
    margin-left: 5rem; */
    position: absolute;
    right: 1%;
}

.btn-header{
    margin: 0 5px;
    color: darkgreen;
}

.input__search{
    border-radius: 10px;
    width: 30rem;
}

.btn,
.btn:visited{
    font-size: 1.6rem;
    border-radius: 20px;
    display: inline-block;
}

.btn__search{
    background-color: #63ace5;
}

.btn:hover{
    background-color: #4b86b4;
    color: aliceblue;
}

.content{
    margin-top: 10px;
    background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url("../img/background.jpg");
    background-repeat: repeat;
}

.logo{
    height: 70px;
}

.brand{
    font-size: 1.6rem;
    font-weight: bold;
    color: #283655;
}